.member-image {
  display: inline-block;
  float: left;
  width: 140px;
  margin-left: 20px;
}

.member-photo {
  border-radius: 100%;
  height: auto;
  width: 142px;
  height: 142px;
}

.member-details {
  display: inline-block;
  max-width: 270px;
  margin-left: 20px;
}

.member-details .text-medium {
  margin-bottom: 20px;
}

@media (max-width: 830px) {
  .member-image {
    display: inline-block;
    width: 140px;
    margin-left: 15px;
  }

  .client-member {
    margin-left: 40px;
  }
}