.intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(138, 186, 86, 0), rgba(193, 35, 38, 0.742) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  color: #fff;
  padding: 60px;
  margin-top: 76px;
}

.title-intro {
  line-height: 90%;
  padding-top: 100px;
  padding-left: 50px;
  font-size: 70px;
  margin-bottom: 18px;
}

.intro .title-medium {
  font-size: 36px;
  color: #fff;
  padding-left: 45px;
}

@media (max-width: 1280px) {
  .title-intro{
    line-height: 90%;
    padding-top: 70px;
    padding-left: 40px;
    font-size: 70px;
    margin-bottom: 18px;
  }
}

@media (max-width: 645px) {
  .title-intro{
    line-height: 90%;
    padding-top: 30px;
    padding-left: 0px;
    font-size: 35px;
  }

  .intro .title-medium {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding-left: 0px;
  }
}

@media (max-width: 345px) {
  .title-intro{
    font-size: 25px;
  }
}

@media (max-width: 260px) {
  .title-intro{
    font-size: 20px;
  }

  .intro .title-medium {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    padding-left: 0px;
  }
}
